<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sélection Finale</title>
</head>
<body>
    <h1>Sélection Finale des Livres</h1>
    <form method="POST">
        {% for book in finalists_books %}
            <input type="radio" name="selected_finalist" value="{{ book.book_id }}"> {{ book.title }}<br>
        {% endfor %}
        <input type="submit" value="Sélectionner le gagnant">
    </form>
    <a href="/">Retour à l'accueil</a>
</body>
</html>
