<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sélection Finale</title>
</head>
<body>
     <h1>Le Gagnant du Prix Goncourt</h1>
    {% if winner_book %}
        <p>Le livre gagnant est : <strong>{{ winner_book.title }}</strong></p>
    {% else %}
        <p>Aucun gagnant sélectionné pour l'instant.</p>
    {% endif %}
    <a href="{{ url_for('revote') }}">Recommencer le vote</a>
</body>
</html>
