<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sélection des Livres</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Sélection des Livres pour le Jury (Sélectionner 8 livres)</h1>
        <form method="POST"  class="book-list">
            {% for book in books %}
                <input type="checkbox" name="selected_books" value="{{ book.book_id }}"> {{ book.title }}<br>
            {% endfor %}
            <input type="submit" value="Sélectionner">
        </form>
        <a href="/">Retour à l'accueil</a>
    </div>
    <footer>
        <div class="footer">
            © 2024 - Mon application
        </div>
    </footer>
</body>
</html>
